{% extends "main.html" %}
{% block title %}Create job{% endblock%}
{%block style%}
<style media="screen">
/* Headings */
body {
        background-color: #f5f5f5;
      }
h1{
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  color: #343a40;
  font-weight: 900;
}
h2{
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #343a40;
  font-weight: 700;
}
h5,h3,h4{
  font-family: 'Roboto', sans-serif;
  color: #343a40 ;

}
label{
  font-family: 'Roboto', sans-serif;
  color: #343a40 ;
  font-size: 1.25em;
  text-align: right;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: #343a40 ;
  font-size: 1.25em;
  font-weight:500;
}
span{
  font-family: 'Roboto', sans-serif;
  color: #343a40 ;
}
a{
  color:black ;
}
a:hover{
  color: black ;
}
</style>
{%endblock%}
{%block body%}
    {% with messages=get_flashed_messages() %}
    {%if messages%}
    <p class="ml-5 pl-5">{{messages[0]}}</p>
    {% endif %}
    {% endwith  %}
    <!-- <form  action="/create" method="post">
      <input type="text" name="name" placeholder="Job Title" required >
      <input type="text" name="place" placeholder="Place of work" required >
      <input type="text" name="exp" placeholder="Work experience" required >
      <input type="text" name="desc" placeholder="Job Description" required>
      <input type="text" name="skill" placeholder="Skill Requirements" required >
      <input type="date" name="date" placeholder="Last date to apply" required >
      <input type="text" name="span"  required placeholder="Job Duration*">
      <input type="date" name="sdate" placeholder="Job Start date" required >
      <button type="submit" name="button">Update</button>
    </form> -->
    <h2 class="text-center">Create a new Job Application</h2>
    <div class="parent m-5 w-50 mx-auto" style="border-radius: 10px; box-shadow:0px 2px 8px grey;">
            <form  action="/create" method="post">
                <table class="table table-borderless table-info">
                    <tr class="form-group ">
                        <td ><label for="name" class="form-label">Job Title : </label></td>
                        <td><input type="text" name="name" id="name" class="form-control" placeholder="Job Title" required></td>
                    </tr>
                    <tr class="form-group">
                        <td><label for="place"  class="form-label">Location :</label></td>
                        <td><input type="text" name="place" id="place" class="form-control" placeholder="Place of work" required></td>
                    </tr>
                    <tr class="form-group">
                        <td><label for="exp"  class="form-label">Work experience :</label></td>
                        <td><input type="text" name="exp" id="exp" class="form-control" placeholder="Work experience" required></td>
                    </tr>
                    <tr class="form-group">
                        <td><label for="desc"  class="form-label">Job Description :</label></td>
                        <td><input type="text" name="desc" id="desc" class="form-control" placeholder="Job Description" required></td>
                    </tr>
                    <tr class="form-group">
                        <td><label for="skill"  class="form-label">Skill Requirements :</label></td>
                        <td><input type="text" name="skill" id="skill" class="form-control" placeholder="Skill Requirements" required></td>
                    </tr>
                    <tr class="form-group">
                        <td><label for="date"  class="form-label">Last date to apply</label></td>
                        <td><input type="date" name="date" id="date" class="form-control" placeholder="Last date to apply" required></td>
                    </tr>
                    <tr class="form-group">
                        <td><label for="span"  class="form-label">Job Duration* :</label></td>
                        <td><input type="text" name="span" id="span" class="form-control" placeholder="Job Duration" required></td>
                    </tr>
                    <tr class="form-group">
                        <td><label for="sdate"  class="form-label">Job Start date :</label></td>
                        <td><input type="date" name="sdate" id="sdate" class="form-control" placeholder="Job Start date" required></td>
                    </tr>
                    <tr class="form-group">
                        <td></td>
                        <td>
                            <button type="submit" name="button" class="btn btn-success btn-lg float-right">Create</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
{%endblock%}
