<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food app</title>
  </head>
  <body>
    {% with messages=get_flashed_messages() %}
{%if messages%}
<p>{{messages[0]}}</p>
{% endif %}
{% endwith  %}
    <form action="#" method="post">
      <input type="text" name="name" placeholder="Enter Your Name">
      <input type="email" name="mail" placeholder="Enter Your e-mail">
      <input type="text" name="num" placeholder="Mobile Number">
      <button type="submit" name="button">SignUp</button>
    </form>
  </body>
</html>
