<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <title>Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script type="text/javascript">
     var c=0
     function addm(){
       var k =document.getElementById('cost');
       k.value = c+100;
     }
   </script>
   </head>
  <body>
    <form  action="/order" method="post">
       <div class="card" style="width: 18rem;">
         <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/35/Biryani_Home.jpg" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">Biryani</h5>
           <input id='cost' type="number" name="cost" value="0" readonly=true>
           <p class="card-text">Biryani Price 100Rs</p>
           <button type="submit" class="btn btn-primary" name="button" onclick="addm()">Order</button>
         </div>
       </div>
     </form>
    <h1>{{co}}</h1>
      {%for f1 in f%}
     <h3>{{f1.item}}</h3>
     <h3>{{f1.user}}</h3>
      <h3>{{f1.price}}</h3>
     <h3>{{f1.date}}</h3>
     {%endfor%}
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
