{% extends "main.html" %}
{% block title %}Applications{% endblock%}
{%block body%}
  <body>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Applicant</th>
      <th scope="col">Applicant id</th>
      <th scope="col">Date of application</th>
    </tr>
  </thead>
  <tbody>
    {%for i in range(l)%}
     <tr>
       <th scope="row">{{i+1}} </th>
       <td><a href="/{{appl[i]['applicant id']}}">{{appl[i]['applicant']}}</a></td>
        <td>{{appl[i]['applicant id']}}</td>
       <td>{{appl[i]['applied_on']}}</td>
     </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
